node_modules
npm-debug.log
.git
.gitignore
.next
.vercel
.env
.env.*
Dockerfile*
**/*.md
**/*.MD
**/*.markdown
**/*.log
**/*.tsbuildinfo
**/.DS_Store
**/dist
**/build
**/coverage
**/.cache
**/.next
scripts/
infrastructure/
logs/
ffmpeg-minimal-layer/
ffmpeg-ultra-minimal/
whisper_backend/
